node_modules/

playground/dateSelector.js
playground/dateSelector.css
playground/dateSelector.min.js
playground/dateSelector.min.css
playground/fonts/

dist/dateSelector.js
dist/dateSelector.css

.idea/

.DS_Store