node_modules/

demos/dateSelector.js
demos/dateSelector.css
demos/dateSelector.min.js
demos/dateSelector.min.css
demos/fonts/

playground/fonts/
playground/dateSelector.min.css
playground/playground.js

dist/dateSelector.js
dist/dateSelector.min.js
dist/dateSelector.css
dist/dateSelector.min.css

.idea/

.DS_Store

*.log