h1 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
}

h3 {
  text-decoration: underline;
}

hr {
  background-color: orangered;
  height: 2px;
}

pre {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
