<div>
    <form class="form-inline">
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="text" class="form-control" id="date" placeholder="<no date selected>" disabled>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="date-selector">Open Date Selector</button>
    </form>
</div>